extends layout

block content 
    h1 #{title}
    form( method="POST" action="/new") 
        label Author 
        input(type="text")
        label Text 
        input(type="text")
        button(type="submit")